.username{
    background-color: #000000;
    border-radius: 8px;
    padding: 8px 7px;
}
.password{

    background-color: #000000;
    border-radius: 8px;
    padding: 8px 7px;
}
.login{
    background-color: #2b47ef;
    border-radius: 8px;
    padding: 8px 7px;
}
form{
        display: flex;
    flex-direction: column;
    width: fit-content;
    gap:10px;
}
.form_name{

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.label_Name,.label_password {
    font-size:19px;
}